.container {
    display: flex;
    justify-content: center; /* Centra el título horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    position: relative;
}

.table-container {
    max-height: auto;
    /* ajusta este valor según lo necesites */
    overflow-y: auto;
}

.button-right {
    margin-left: auto;
    right: 0; /* Mueve el botón al margen derecho */
}

.button-left {
    margin-right: auto;
    left: 0; /* Mueve el botón al margen derecho */
}


.title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.green-fab {
  background-color: #4CAF50; /* verde Material */
  color: white;
}

.blue-fab {
  background-color: #4c53af; /* verde Material */
  color: white;
}

.pourpe-fab {
  background-color: #834ac5; /* verde Material */
  color: white;
}

.red-fab {
  background-color: #be1d1d; /* verde Material */
  color: white;
}

.bluelight-fab {
  background-color: #1d55be; /* verde Material */
  color: white;
}

